.connection-status-layout {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border-top-style: solid;
  border-top-width: 1px;
  border-color: var(--mat-sys-outline-variant);
  padding-top: 1rem;
  font-size: var(--mat-sys-label-medium-size);
  line-height: var(--mat-sys-label-medium-line-height);
  font-weight: 600;
  color: var(--mat-sys-on-surface-variant);
}

.span-layout {
  height: calc(0.25rem * 2.5);
  width: calc(0.25rem * 2.5);
  flex: none;
  border-radius: var(--mat-sys-corner-full);
}

.is-connected {
  background-color: #22c55e;
}

.is-checking {
  background-color: var(--mat-sys-on-surface-variant);
}

.has-error {
  background-color: var(--mat-sys-error);
}
